<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <script src="login.js"></script>
</head>
<body>
    <h1>Zaloguj się do aplikacji</h1>
    <form action="/" method="POST">
        <div>
            <label for="login">Nazwa użytkownika:</label>
            <input type="text" id = "login" name="login" required/>
        </div>
        <div>
            <label for = "password">Hasło:</label>
            <input type="password" id = "password" name="password" required/>
        </div>
        <button type="submit">Zaloguj się</button>
    </form> 
    <a href = "http://localhost:3000/rejestracja">Zarejestruj się</a>
  

<!--     <h1>Zaloguj się do aplikacji</h1>
    <label for="login">Nazwa użytkoknika:</label>
    <input type="text" id = "login"/>
    <label for = "haslo">Hasło:</label>
    <input type="text" id = "haslo"/>
    <button onclick="zalogujUzytkownika()" id = "zaloguj">Zaloguj</button>
    <br>
    <p><a href = "http://localhost:3000/rejestracja">Zarejestruj się</a></p>  -->
</body>
</html>