<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie</title>
    <link href="./login.css" rel="stylesheet" type="text/css">
    <script src="login.js"></script>
</head>
<body>
    <div class="tlo">
    <div class = 'grid-container'>
        <h1>Zaloguj się do aplikacji</h1>
    <form action="/" method="POST">
        <div>
            <div class="grid-item">
                <label for="login">Nazwa użytkownika:</label>
                <input type="text" id = "login" name="login" required/>
            </div>
        </div>
        <div>
            <div class="grid-item"></div>
                <label for = "password">Hasło:</label>
                <input type="password" id = "password" name="password" required/>
            </div>
        
        <div class="grid-item">
            <button type="submit">Zaloguj się</button>
        </div>
    </form> 
    <div class="grid-item"></div>
    <div type="przycisk-rejestracji">
        <a href = "http://localhost:3000/rejestracja">Zarejestruj się</a>
    </div>
    </div>
    </div>
    </div>
</div>
   
  

<!--     <h1>Zaloguj się do aplikacji</h1>
    <label for="login">Nazwa użytkoknika:</label>
    <input type="text" id = "login"/>
    <label for = "haslo">Hasło:</label>
    <input type="text" id = "haslo"/>
    <button onclick="zalogujUzytkownika()" id = "zaloguj">Zaloguj</button>
    <br>
    <p><a href = "http://localhost:3000/rejestracja">Zarejestruj się</a></p>  -->
</body>
</html>